.filterButtonsWrapper{
    display: flex;
    justify-content: center;
    font-family: Helvetica,Arial,sans-serif;
}
.filterButton{
    cursor: pointer;
    display: block;
    background: #051c33;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    padding: 5px 25px;
    margin: 10px;
    text-decoration: none;

}